.content {
  .form {
    display: none;
  }
  &.edit {
    .form {
      display: block;
    }
  }
}

.actions {
  @apply flex 
        flex-row 
        gap-5;
  button {
    @apply p-2 
          rounded-md 
          cursor-pointer
          border
          border-gray-300
          dark:border-gray-700
          hover:bg-gray-100
          dark:hover:bg-gray-700;
  }
}